In [135]:
import pandas as pd

In [136]:
df = pd.read_excel('data/ILGA_State_Sponsored_Homophobia_2019_dataset.xlsx', sheet_name='All categories')

In [137]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,CRIMINALISATION,Unnamed: 5,Unnamed: 6,PROTECTION,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,RECOGNITION,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,CONSENSUAL SAME-SEX SEXUAL ACTS,GENDER,MAX PENALTY,PROTECTION AGAINST DISCRIMINATION,NaN,NaN,CRIMINALISATION OF VIOLENCE/DISCRIMINATION,NaN,CTs,SAME SEX MARRIAGE,CIVIL UNIONS,JOINT ADOPTION,SECOND PARENT ADOPTION
1,N,CN,CONTINENT,COUNTRY,Legal?,Gender/s,Years in Prison / Other,Constitutional,Broad Protections,Employment,Hate Crime / Aggr. Circs.,Incitement to Hatred / Violence,Ban on CTs,Marriage,Civil Unions,Joint Adoption,Second Parent Adoption
2,1,1,AFRICA,Algeria,NO,ANY GENDER,2,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,2,2,AFRICA,Angola,YES,DOES NOT APPLY,DOES NOT APPLY,NO,YES,YES,YES,YES,NO,NO,NO,NO,NO
4,3,3,AFRICA,Benin,YES,DOES NOT APPLY,DOES NOT APPLY,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,68,0.352332,UN Member States CRIMINALISE consensual s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,2,0.010363,UN Member States DE FACTO CRIMINALISE con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,123,0.637306,UN Member States DO NOT criminalise conse...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
df.tail(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,CRIMINALISATION,Unnamed: 5,Unnamed: 6,PROTECTION,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,RECOGNITION,Unnamed: 14,Unnamed: 15,Unnamed: 16
198,191,12,OCEANIA,Tonga,NO,MALE ONLY,10,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
199,192,13,OCEANIA,Tuvalu,NO,MALE ONLY,14,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
200,193,14,OCEANIA,Vanuatu,YES,DOES NOT APPLY,DOES NOT APPLY,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,52,73,42,40,3,26,27,27,30
202,YES,(1).,"In Palestine, Gaza still criminalises same-sex...",NaN,NaN,NaN,NaN,0.046632,0.26943,0.378238,0.217617,0.207254,0.015544,0.134715,0.139896,0.139896,0.15544
203,NO,NaN,NaN,NaN,NaN,NaN,NaN,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States,UN Member States
204,NaN,(2).,"In Indonesia, several provinces criminalise co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,44,Criminalise all same-sex sexual acts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,26,Criminalise same-sex sexual acts between MEN only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,68,0.352332,UN Member States CRIMINALISE consensual s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,2,0.010363,UN Member States DE FACTO CRIMINALISE con...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,123,0.637306,UN Member States DO NOT criminalise conse...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
for colname in df.columns:
    df.rename(columns={colname : df[colname][1]}, inplace=True)

In [140]:
df = df.iloc[2:201].reset_index(drop=True)

In [141]:
df.drop(columns={'N', 'CN', 'CONTINENT', 'Gender/s', 'Constitutional', 'Broad Protections', 'Employment',
                   'Hate Crime / Aggr. Circs.', 'Incitement to Hatred / Violence',
                   'Ban on CTs', 'Marriage', 'Civil Unions', 'Joint Adoption', 'Second Parent Adoption'}, inplace=True)

In [142]:
df.rename(columns={'COUNTRY':'country', 'Legal?':'legal', 'Years in Prison / Other':'prison_death'}, inplace=True)

In [143]:
for colname in df.columns:
    print(colname)
    print(df[colname].unique())

country
['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Cape Verde ' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "CÃ´te d'Ivoire" 'DRC ' 'Djibouti' 'Egypt' 'Equatorial Guinea' 'Eritrea'
 'Eswatini' 'Ethiopia' 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau'
 'Kenya' 'Lesotho' 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Morocco' 'Mozambique' 'Namibia' 'Niger'
 'Nigeria' 'Rwanda' 'SÃ£o Tome & Principe' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa ' 'South Sudan' 'Sudan' 'Tanzania'
 'Togo' 'Tunisia' 'Uganda' 'Zambia' 'Zimbabwe' 'Antigua and Barbuda'
 'Argentina ' 'Bahamas ' 'Barbados' 'Belize' 'Bolivia' 'Brazil'
 'Costa Rica ' 'Chile ' 'Colombia ' 'Cuba ' 'Dominica'
 'Dominican Republic ' 'Ecuador ' 'El Salvador ' 'Grenada' 'Guatemala '
 'Guyana' 'Haiti ' 'Honduras ' 'Jamaica' 'Mexico ' 'Nicaragua ' 'Panama '
 'Paraguay' 'Peru ' 'St Kitts & Nevis' 'St Lucia'
 'St Vincent & the Grenadines' 'Suriname ' 'Trinidad and Tobago'
 'Uruguay ' 'Venezuela' 'Canada' 'United States' 'Afghanistan' 'Bahrain'
 'Bangladesh' 'Bhutan' 'Brunei Darussalam' 'Cambodia' 'China'
 'East Timor ' 'Palestine (1)' 'India' 'Indonesia (2)' 'Iraq' 'Iran'
 'Israel ' 'Japan ' 'Jordan ' 'Kazakhstan ' 'Kuwait' 'Kyrgyzstan ' 'Laos'
 'Lebanon' 'Macau' 'Malaysia' 'Maldives' 'Mongolia ' 'Myanmar' 'Nepal '
 'North Korea' 'Oman' 'Pakistan' 'Philippines' 'Qatar' 'Saudi Arabia'
 'Singapore' 'South Korea' 'Sri Lanka' 'Syria' 'Taiwan' 'Tajikistan '
 'Thailand ' 'Turkmenistan' 'Vietnam' 'United Arab Emirates' 'Uzbekistan'
 'Yemen' 'Albania ' 'Andorra ' 'Armenia ' 'Austria ' 'Azerbaijan '
 'Belarus ' 'Belgium ' 'Bosnia and Herzegovina' 'Bulgaria ' 'Croatia '
 'Cyprus ' 'Czechia' 'Denmark ' 'Estonia ' 'Finland ' 'France ' 'Georgia '
 'Germany ' 'Greece ' 'Hungary ' 'Iceland ' 'Ireland' 'Italy ' 'Kosovo '
 'Latvia ' 'Liechtenstein ' 'Lithuania ' 'Luxembourg ' 'Malta ' 'Moldova '
 'Monaco ' 'Montenegro ' 'Netherlands ' 'North Macedonia' 'Norway '
 'Poland ' 'Portugal ' 'Romania ' 'Russia' 'San Marino ' 'Serbia '
 'Slovakia ' 'Slovenia ' 'Spain' 'Sweden ' 'Switzerland ' 'Turkey '
 'Ukraine ' 'United Kingdom' 'Vatican City' 'Australia' 'Cook Islands'
 'Fiji ' 'Kiribati' 'Marshall Islands' 'Micronesia' 'New Zealand ' 'Nauru'
 'Palau ' 'Papua New Guinea' 'Samoa' 'Solomon Islands' 'Tonga' 'Tuvalu'
 'Vanuatu']
legal
['NO' 'YES' 'DE FACTO' 'Y ' 'Y' 'N']
prison_death
[2 'DOES NOT APPLY' 7 5 'UNDETERMINED' 3 14 1 'DEATH (NOT)' 'DEATH (REG)'
 10 'DEATH' 'FOR LIFE' 15 20 8]

In [144]:
df.replace(to_replace={2, 7, 5, 'UNDETERMINED', 3, 14, 'DEATH (NOT)', 'DEATH (REG)', 10, 'DEATH', 'FOR LIFE', 15, 20, 8}, value=1, inplace=True)
df.replace(to_replace='DOES NOT APPLY', value=0, inplace=True)

In [145]:
df.replace(to_replace='NO', value=0, inplace=True)
df.replace(to_replace='YES', value=1, inplace=True)
df.replace(to_replace='DE FACTO', value=0, inplace=True)
df.replace(to_replace='N', value=0, inplace=True)
df.replace(to_replace='Y', value=1, inplace=True)
df.replace(to_replace='N ', value=0, inplace=True)
df.replace(to_replace='Y ', value=1, inplace=True)

In [146]:
df

             country  legal  prison_death
0            Algeria      0             1
1             Angola      1             0
2              Benin      1             0
3           Botswana      0             1
4       Burkina Faso      1             0
..               ...    ...           ...
194            Samoa      0             1
195  Solomon Islands      0             1
196            Tonga      0             1
197           Tuvalu      0             1
198          Vanuatu      1             0

[199 rows x 3 columns]

In [147]:
for colname in df.columns:
    df['country'] = df['country'].str.strip()

In [148]:
for colname in df.columns:
    print(colname)
    print(df[colname].unique())

country
['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Cape Verde' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "CÃ´te d'Ivoire" 'DRC' 'Djibouti' 'Egypt' 'Equatorial Guinea' 'Eritrea'
 'Eswatini' 'Ethiopia' 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau'
 'Kenya' 'Lesotho' 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Morocco' 'Mozambique' 'Namibia' 'Niger'
 'Nigeria' 'Rwanda' 'SÃ£o Tome & Principe' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa' 'South Sudan' 'Sudan' 'Tanzania'
 'Togo' 'Tunisia' 'Uganda' 'Zambia' 'Zimbabwe' 'Antigua and Barbuda'
 'Argentina' 'Bahamas' 'Barbados' 'Belize' 'Bolivia' 'Brazil' 'Costa Rica'
 'Chile' 'Colombia' 'Cuba' 'Dominica' 'Dominican Republic' 'Ecuador'
 'El Salvador' 'Grenada' 'Guatemala' 'Guyana' 'Haiti' 'Honduras' 'Jamaica'
 'Mexico' 'Nicaragua' 'Panama' 'Paraguay' 'Peru' 'St Kitts & Nevis'
 'St Lucia' 'St Vincent & the Grenadines' 'Suriname' 'Trinidad and Tobago'
 'Uruguay' 'Venezuela' 'Canada' 'United States' 'Afghanistan' 'Bahrain'
 'Bangladesh' 'Bhutan' 'Brunei Darussalam' 'Cambodia' 'China' 'East Timor'
 'Palestine (1)' 'India' 'Indonesia (2)' 'Iraq' 'Iran' 'Israel' 'Japan'
 'Jordan' 'Kazakhstan' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Lebanon' 'Macau'
 'Malaysia' 'Maldives' 'Mongolia' 'Myanmar' 'Nepal' 'North Korea' 'Oman'
 'Pakistan' 'Philippines' 'Qatar' 'Saudi Arabia' 'Singapore' 'South Korea'
 'Sri Lanka' 'Syria' 'Taiwan' 'Tajikistan' 'Thailand' 'Turkmenistan'
 'Vietnam' 'United Arab Emirates' 'Uzbekistan' 'Yemen' 'Albania' 'Andorra'
 'Armenia' 'Austria' 'Azerbaijan' 'Belarus' 'Belgium'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Cyprus' 'Czechia'
 'Denmark' 'Estonia' 'Finland' 'France' 'Georgia' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Kosovo' 'Latvia' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Malta' 'Moldova' 'Monaco' 'Montenegro'
 'Netherlands' 'North Macedonia' 'Norway' 'Poland' 'Portugal' 'Romania'
 'Russia' 'San Marino' 'Serbia' 'Slovakia' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Turkey' 'Ukraine' 'United Kingdom' 'Vatican City'
 'Australia' 'Cook Islands' 'Fiji' 'Kiribati' 'Marshall Islands'
 'Micronesia' 'New Zealand' 'Nauru' 'Palau' 'Papua New Guinea' 'Samoa'
 'Solomon Islands' 'Tonga' 'Tuvalu' 'Vanuatu']
legal
[0 1]
prison_death
[1 0]

In [149]:
# import country name / iso3 code dict

from country_iso_dict import country_iso_dict

iso3_map = country_iso_dict

In [150]:
# adding country names not found in the country_iso_dict.py and creating a dict

country_names = ['Cape Verde', 'DRC', 'SÃ£o Tome & Principe', 'Tanzania', 'Bolivia', 'St Kitts & Nevis', 'St Lucia', 'St Vincent & the Grenadines', 'Venezuela', 'United States', 'East Timor', 'Palestine (1)', 'Indonesia (2)', 'Iran', 'Laos', 'Macau', 'North Korea', 'South Korea', 'Syria', 'Taiwan', 'Vietnam', 'Czechia', 'Kosovo', 'Moldova', 'Russia', 'United Kingdom', 'Vatican City', 'Micronesia']

iso3_values = ['CPV', 'COD', 'STP', 'TZA', 'BOL', 'KNA', 'LCA', 'VCT', 'VEN', 'USA', 'TLS', 'PSE', 'IDN', 'IRN', 'LAO', 'MAC', 'PRK', 'KOR', 'SYR', 'TWN', 'VNM', 'CZE', 'XKX', 'MDA', 'RUS', 'GBR', 'VAT', 'FSM']

country_iso3_dict = dict(zip(country_names, iso3_values))

# combine both dicts

iso3_map.update(country_iso3_dict)

In [151]:
df['iso3'] = df['country'].map(country_iso_dict)

In [152]:
df

             country  legal  prison_death iso3
0            Algeria      0             1  DZA
1             Angola      1             0  AGO
2              Benin      1             0  BEN
3           Botswana      0             1  BWA
4       Burkina Faso      1             0  BFA
..               ...    ...           ...  ...
194            Samoa      0             1  WSM
195  Solomon Islands      0             1  SLB
196            Tonga      0             1  TON
197           Tuvalu      0             1  TUV
198          Vanuatu      1             0  VUT

[199 rows x 4 columns]

In [153]:
# UN member countries

country193 = ['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB',
                'BLR', 'BEL', 'BLZ', 'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM',
                'CMR', 'CAN', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COG', 'COD', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP',
                'CZE', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FJI', 'FIN',
                'FRA', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HUN',
                'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR', 'PRK',
                'KOR', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MDG', 'MWI', 'MYS',
                'MDV', 'MLI', 'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR',
                'NAM', 'NRU', 'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA', 'MKD', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG',
                'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA', 'KNA', 'LCA', 'VCT', 'WSM', 'SMR', 'STP',
                'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP', 'LKA', 'SDN',
                'SUR', 'SWE', 'CHE', 'SYR', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TUV',
                'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE']

In [154]:
# reducing df to countries of the world by UN definition

df = df[df['iso3'].isin(country193)].reset_index(drop=True)

In [155]:
df.drop(columns={'country'}, inplace=True)

# rearrange the columns

df = df[['iso3'] + [col for col in df.columns if col != 'iso3']]

In [156]:
df

    iso3  legal  prison_death
0    DZA      0             1
1    AGO      1             0
2    BEN      1             0
3    BWA      0             1
4    BFA      1             0
..   ...    ...           ...
188  WSM      0             1
189  SLB      0             1
190  TON      0             1
191  TUV      0             1
192  VUT      1             0

[193 rows x 3 columns]